<a href="https://colab.research.google.com/github/JYRUS19/20230205-Python/blob/main/20230305.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [3]:
grades = np.random.randint(30, 101, (10, 4))

In [4]:
df = pd.DataFrame(grades)

In [5]:
df.columns = ['國文','英文','數學','理化']

In [6]:
df.index = ["ANNK", "CEEK", "BHHG", "EDSA", "DRES", "GDES", "REWS", "LKDE", "LWES", "HRED"]

In [7]:
df

      國文  英文   數學  理化
ANNK  54  58   53  70
CEEK  64  63   32  40
BHHG  32  30   45  98
EDSA  51  82  100  42
DRES  55  39   59  48
GDES  74  48   70  75
REWS  59  60   91  35
LKDE  66  47   54  63
LWES  99  53   36  82
HRED  51  83   57  75

## 讀取特定欄位

### 讀取所有人的國文成績(單一個欄位)

In [8]:
df['國文']

ANNK    54
CEEK    64
BHHG    32
EDSA    51
DRES    55
GDES    74
REWS    59
LKDE    66
LWES    99
HRED    51
Name: 國文, dtype: int64

In [9]:
type(df['國文'])

pandas.core.series.Series

### 同時讀取多個欄位(讀取國文與英文)

In [10]:
df[['國文', '英文']]

      國文  英文
ANNK  54  58
CEEK  64  63
BHHG  32  30
EDSA  51  82
DRES  55  39
GDES  74  48
REWS  59  60
LKDE  66  47
LWES  99  53
HRED  51  83

In [11]:
type([['國文']])

list

## 讀取單一列的資料

In [12]:
df['CEEK']

KeyError: ignored

### 使用.loc()及iloc()

In [13]:
df.loc['CEEK']

國文    64
英文    63
數學    32
理化    40
Name: CEEK, dtype: int64

In [14]:
#.loc與.iloc使用上差別比較
df.iloc[0]

國文    54
英文    58
數學    53
理化    70
Name: ANNK, dtype: int64

### 一次讀取多列資料

In [23]:
#第一個到第四個
df.loc['CEEK':'DRES']

      國文  英文   數學  理化
CEEK  64  63   32  40
BHHG  32  30   45  98
EDSA  51  82  100  42
DRES  55  39   59  48

In [21]:
#第一個與第四個
df.loc[['CEEK','DRES']]

      國文  英文  數學  理化
CEEK  64  63  32  40
DRES  55  39  59  48

### 讀取特定欄跟列的資料

In [25]:
df.loc['CEEK':'DRES',['國文','英文']]

      國文  英文
CEEK  64  63
BHHG  32  30
EDSA  51  82
DRES  55  39